<nav class="navbar">
    <div class="nav-logo">
        <h2>Car<span>Hub</span></h2>    
    </div>

    <div class="nav-actions">
        <button class="btn-logout" (click)="logout()">
            Cerrar Sesion.
        </button>
    </div>
    </nav>

    <main class="dashboard-contenido">
        <div class="carta-bienvenida">
            <div class="carta">
                <img src="img/gato.gif" alt="gatoguaton" class="gatowaton">
                <div>
                    Bienvenido a CarHub, Aqui deberia haber mas contenido, pero ten un gato mientras tanto.
                </div>
            </div> 
        </div> 
    </main>







    <app-footer-component></app-footer-component>