<div class="dashboard-page-container">

  <div class="dashboard-header">
    <div class="brand-container">
      <h2>Car<span style="color: #3b82f6;">Hub</span></h2>
      <p class="subtitle">Bienvenidos a CarHub, donde el auto de tus sueños puede estar a un click de distancia</p>
    </div>
    <div class="user-actions">
      <button class="btn-logout" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>

  <div class="dashboard-wrapper">

    <div class="store-layout">
      <app-filter-data
        [listaAutomotriz]="listarAutomotrizFiltro"
        (cambioDeFiltro)="aplicarFiltro($event)">
      </app-filter-data>

      <section class="catalog-section">
        <h3 class="section-title">¡Concesionarias disponibles!</h3>

        <div class="products-grid">
          @for (automotriz of automotrices; track automotriz.idAutomotriz) {
            <div class="product-card">
              <div class="product-img-placeholder">
                🚗
              </div>
              <div class="product-info">
                <h4>{{ automotriz.nombreAutomotriz }}</h4>
                <p>{{ automotriz.direccionAutomotriz }}</p>
                <button class="btn-details" (click)="verCatalogo(automotriz.nombreAutomotriz.toString())">
                  Ver Catálogo
                </button>
              </div>
            </div>
          }
        </div>

        @if (automotrices.length === 0) {
          <p class="no-cars">No hay automotrices registradas aún.</p>
        }

      </section>

    </div>
  </div>

  <app-footer-component></app-footer-component>

</div>